<form>
    <div class="mail_body">
       <div class="subject"><b>Subject:</b><input type="text" name="subject" size="50"></div><br>
       <div class="recipient"><b>Recipient:</b><input type="text" name="subject" size="50"></div><br>
       <b>Message:</b><div class="message"><textarea name="message" rows="50" cols="100"></textarea></div>
       <input type="submit" name="send_mail" value="SEND">
     </div>
</form>